<%-
require 'yaml'
backfill = "false"
template_root = File.expand_path(File.join(__dir__, 'shared'))
file_content = File.read(File.join(template_root, 'form.yml.erb'))
erb_content = ''
ERB.new(file_content, trim_mode: '-', eoutvar: 'erb_content').result(binding)
yaml_content = YAML.load(erb_content)
-%>
---
cluster: "discovery"
title: Shell

form:
<%= YAML.dump(yaml_content['form']).gsub("---\n", '').gsub(/^/,"  ") %>

  - font_size
  - terminal_mux_selector

attributes:
<%= YAML.dump(yaml_content['attributes']).gsub("---\n", '').gsub(/^/,"  ") %>

  font_size:
    id: font_size
    label: Font Size
    help: |
      Default terminal (xterm.js) font size.

      - Dynamic font/zoom adjustments via Ctrl+(Plus|Minux|0) has UI bugs.
      - To change font size you will need to Delete the running interactive app card and then launch a new job with the desired font size.
    cacheable: true
    widget: number_field
    max: 30
    min: 10
    step: 1
    value: 16

  terminal_mux_selector:
    label: Terminal Multiplexer
    widget: select
    help: |
      Select desired terminal multiplexer.
    cacheable: true
    options:
      - ["Zellij", "zellij"]
      - ["Tmux", "tmux"]
      - ["GNU Screen", "screen"]
