<%-
require 'yaml'
backfill = "false"
template_root = File.expand_path(File.join(__dir__, 'shared'))
file_content = File.read(File.join(template_root, 'form.yml.erb'))
erb_content = ''
ERB.new(file_content, trim_mode: '-', eoutvar: 'erb_content').result(binding)
yaml_content = YAML.load(erb_content)
-%>
---
cluster: "discovery"
title: MatLab (Web)

form:
<%= YAML.dump(yaml_content['form']).gsub("---\n", '').gsub(/^/,"  ") %>

  - working_dir
  - sub_type
  - version
  - sif_file

attributes:
<%= YAML.dump(yaml_content['attributes']).gsub("---\n", '').gsub(/^/,"  ") %>

  working_dir:
    label: Working Directory
    help: |
      - Optionally select your MatLab project directory
      - The default is your home directory ($HOME) when left empty."
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: dirs
    readonly: true

  sub_type:
    label: Submission Environment
    widget: select
    help : Select desired submission environment.
    cacheable: false
    options:
      - [
          "Module (Basic)", "mod_basic",
          data-hide-sif-file: true
        ]
      - [
          "Container (Basic)", "sif_basic",
          data-hide-version: true
        ]

  version:
    label: MATLAB Version
    help: Select the desired version of MATLAB
    cacheable: false
    widget: select
    options:
      - [ "2024a-Proxy-Cuda-VSCode-Jupyter-SIF", "custom/2024a matlab/2024a-Proxy-Cuda-VSCode-Jupyter-SIF" ]
      - [ "2023a-Proxy-Cuda-VSCode-Jupyter-SIF", "custom/2023a matlab/2023a-Proxy-Cuda-VSCode-Jupyter-SIF" ]
      - [ "2022b-Proxy-Cuda-VSCode-Jupyter-SIF", "custom/2023a matlab/2022b-Proxy-Cuda-VSCode-Jupyter-SIF" ]
      - [ "2022a", "custom/2022a matlab/2022a conda/2022a matlab_proxy" ]
      - [ "2021a", "custom/2022a matlab/2021a conda/2022a matlab_proxy" ]

  sif_file:
    label: Container File
    help: |
      Select an Apptainer/Singularity Container (.sif/.simg) that includes MatLab and MatLab Proxy. **This is required when using a Container Submission Environment!**
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: files
    data-target-file-pattern: '(.simg|.sif)$'
    readonly: true
