#!/usr/bin/env bash

# Export Staged Root
OOD_STAGED_ROOT="<%= session.staged_root %>"
export OOD_STAGED_ROOT

# Default Font Size
OOD_FONT_SIZE="<%= context.font_size %>"
export OOD_FONT_SIZE

# Terminal Multiplexer
OOD_T_MUX="<%= context.terminal_mux_selector.to_s %>"
ood_t_mux="$OOD_T_MUX"
export OOD_T_MUX ood_t_mux
