<%-
require 'yaml'
backfill = "false"
template_root = File.expand_path(File.join(__dir__, 'shared'))
file_content = File.read(File.join(template_root, 'form.yml.erb'))
erb_content = ''
ERB.new(file_content, trim_mode: '-', eoutvar: 'erb_content').result(binding)
yaml_content = YAML.load(erb_content)
-%>
---
cluster: "discovery"
title: Jupyter Lab/NoteBook

form:
<%= YAML.dump(yaml_content['form']).gsub("---\n", '').gsub(/^/,"  ") %>

  - working_dir
  - sub_type
  - package_manager
  - version
  - sif_file
  - interface
  - env_setup_script

attributes:
<%= YAML.dump(yaml_content['attributes']).gsub("---\n", '').gsub(/^/,"  ") %>

  working_dir:
    label: Working Directory
    help: |
      - Select your jupyter project directory
      - The default is your home directory ($HOME) when left empty."
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: dirs  # Valid values are: files, dirs, or both
    readonly: true

  sub_type:
    label: Submission Environment
    widget: select
    help : Select desired submission environment.
    cacheable: false
    options:
      - [
          "Module (Basic)", "mod_basic",
          data-hide-interface: true,
          data-hide-env-setup-script: true,
          data-hide-sif-file: true,
          data-set-env-setup-script: ''
        ]
      - [
          "Module (Advanced)", "mod_adv",
          data-hide-sif-file: true
        ]
      - [
          "Container (Basic)", "sif_basic",
          data-hide-version: true,
          data-hide-interface: true,
          data-hide-env-setup-script: true,
          data-set-env-setup-script: ''
        ]
      - [
          "Container (Advanced)", "sif_adv",
          data-hide-version: true
        ]

  package_manager:
    label: Package Manager
    widget: select
    help : Select the package manager you prefer
    cacheable: false
    options:
      - [ "Conda", "conda"]
      - [
          "Pixi", "pixi",
          data-hide-version: true
        ]

  version:
    label: Conda Module Version
    help: Select the desired version of the `conda` module to use. These modules can be found with the `module spider conda` command.
    cacheable: false
    widget: select
    options:
      - [ "2024a", "conda/2024a" ]
      - [ "2023a", "conda/2023a" ]
      - [ "2022a", "conda/2022a" ]

  sif_file:
    label: Container File
    help: |
      Select an Apptainer/Singularity Container (.sif/.simg) that includes 'jupyter-lab', and 'jupyter', in the default PATH. **This is required when using a Container Submission Environment!**
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: files
    data-target-file-pattern: '(.simg|.sif)$'
    readonly: true

  interface:
    label: "User Interface"
    help: |
      - Select which user interface you want
      - New = Jupyter Lab
      - Old = Jupyter NoteBook
    cacheable: false
    widget: select
    options:
      - [ "Jupyter Lab", "lab"]
      - [ "Jupyter Notebook", "notebook"]

  env_setup_script:
    label: Environment Setup Script
    help: |
      Optionally select a shell (.sh/.bash) script to source before Jupyter is run.
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: files
    data-target-file-pattern: '(.sh|.bash)$'
    readonly: true
