#!/usr/bin/env bash

# Export Staged Root
OOD_STAGED_ROOT="<%= session.staged_root %>"
export OOD_STAGED_ROOT

# Set Submission Type
<%- if not context.sub_type.blank? -%>
OOD_SUBMIT_TYPE="<%= context.sub_type.to_s %>"
export OOD_SUBMIT_TYPE
<%- end -%>

# Set Modules
OOD_MODULES="<%= context.version %>"
export OOD_MODULES

# Set User Defined SIF File
<%- if not context.sif_file.blank? -%>
OOD_SIF="<%= context.sif_file.to_s %>"
export OOD_SIF
<%- end -%>

# Gerate CSRF Token
<%-
  require 'securerandom'
  csrftoken = SecureRandom.uuid
-%>
export csrftoken="<%= csrftoken %>"
