<%-
require 'yaml'
backfill = "false"
template_root = File.expand_path(File.join(__dir__, 'shared'))
file_content = File.read(File.join(template_root, 'form.yml.erb'))
erb_content = ''
ERB.new(file_content, trim_mode: '-', eoutvar: 'erb_content').result(binding)
yaml_content = YAML.load(erb_content)
-%>
---
cluster: "discovery"
title: VSCode IDE/Editor

form:
<%= YAML.dump(yaml_content['form']).gsub("---\n", '').gsub(/^/,"  ") %>

  - code_vendor
  - code_workspace
  - sub_type
  - sif_file
  - env_setup_script

attributes:
<%= YAML.dump(yaml_content['attributes']).gsub("---\n", '').gsub(/^/,"  ") %>

  code_vendor:
    label: VSCode Vendor
    help : Select the desired vendor for your Visual Studio Code Session. Some extensions, such as GitHub Copilot, require the Microsoft version of VSCode.
    cacheable: true
    widget: select
    options:
      - [ "Coder (code-server)", "coder" ]
      - [ "Microsoft (code)", "ms", data-hide-code-workspace: true ]

  code_workspace:
    label: VSCode Workspace
    help: |
      Optionally select either a folder or workspace file (`.code-workspace`).
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: both
    #data-target-file-pattern: '.code-workspace$'
    readonly: true

  sub_type:
    label: Submission Environment
    widget: select
    help : Select desired submission environment.
    cacheable: false
    options:
      - [
          "Module (Basic)", "mod_basic",
          data-hide-sif-file: true,
          data-hide-env-setup-script: true,
          data-set-env-setup-script: ''
        ]
      - [
          "Module (Advanced)", "mod_adv",
          data-hide-sif-file: true
        ]
      - [
          "Container (Basic)", "sif_basic",
          data-hide-env-setup-script: true,
          data-set-env-setup-script: ''
        ]

  sif_file:
    label: Container File
    help: |
      Select an Apptainer/Singularity Container (.sif/.simg). **This is required when using a Container Submission Environment!**
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: files
    data-target-file-pattern: '(.simg|.sif)$'
    readonly: true

  env_setup_script:
    label: Environment Setup Script
    help: |
      Optionally select a shell (.sh/.bash) script to source before VSCode is run.
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: files
    data-target-file-pattern: '(.sh|.bash)$'
    readonly: true
