

<% if ood_code_vendor == "coder" -%>

<form action="/rnode/<%= host %>/<%= port %>/login?to=" method="post" target="_blank">
  <input type="hidden" name="password" value="<%= password %>">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect
  </button>
</form>

<% elsif ood_code_vendor == "ms" -%>

<button class="btn btn-primary" onclick=" window.open('/node/<%= host %>/<%= port %>/?tkn=<%= password %>','_blank')"> Connect</button>

<% else -%>

    <h1><%= ood_code_vendor %> is not a valid option!</h1>

<% end -%>
