<%-
require 'yaml'
backfill = "false"
template_root = File.expand_path(File.join(__dir__, 'shared'))
file_content = File.read(File.join(template_root, 'form.yml.erb'))
erb_content = ''
ERB.new(file_content, trim_mode: '-', eoutvar: 'erb_content').result(binding)
yaml_content = YAML.load(erb_content)
-%>
---
cluster: "discovery"
title: RStudio

form:
<%= YAML.dump(yaml_content['form']).gsub("---\n", '').gsub(/^/,"  ") %>

  - sub_type
  - version
  - sif_file

attributes:
<%= YAML.dump(yaml_content['attributes']).gsub("---\n", '').gsub(/^/,"  ") %>

  sub_type:
    label: Submission Environment
    widget: select
    help : Select desired submission environment.
    cacheable: false
    options:
      - [
          "Module (Basic)", "mod_basic",
          data-hide-sif-file: true
        ]
      - [
          "Container (Basic)", "sif_basic",
          data-hide-version: true
        ]

  version:
    label: R Module Version
    help: Select the desired version of the R software module to use. These modules can be found with the `module spider r` command.
    cacheable: false
    widget: select
    options:
      - [ "4.4.1-RStudio_Server-VSCode-Jupyter-SIF", "custom/2024a r/4.4.1-RStudio_Server-VSCode-Jupyter-SIF" ]
      - [ "4.3.2-RStudio_Server-VSCode-Jupyter-SIF", "custom/2024a r/4.3.2-RStudio_Server-VSCode-Jupyter-SIF" ]
      - [ "4.2.3-RStudio_Server-VSCode-Jupyter-SIF", "custom/2023a r/4.2.3-RStudio_Server-VSCode-Jupyter-SIF" ]
      - [ "4.2.0-RStudio_Server_2022.02.2.485-SIF", "custom/2022a r/4.2.0-RStudio_Server_2022.02.2.485-SIF" ]
      - [ "4.1.3-RStudio_Server_2022.02.2.485-SIF", "custom/2022a r/4.1.3-RStudio_Server_2022.02.2.485-SIF" ]
      - [ "4.1.2-RStudio_Server_2022.02.2.485-SIF", "custom/2022a r/4.1.2-RStudio_Server_2022.02.2.485-SIF" ]

  sif_file:
    label: Container File
    help: |
      Select an Apptainer/Singularity Container (.sif/.simg) that includes R and RStudio Server. **This is required when using a Container Submission Environment!**
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: files
    data-target-file-pattern: '(.simg|.sif)$'
    readonly: true
