<%-
require 'json'

# read and parse partition data file
file = File.read(File.join(template_root, 'partitions.json'))
partitions_hash = JSON.parse(file)

# read and parse backfill partition data file
if backfill == "true"
  file2 = File.read(File.join(template_root, 'backfill.json'))
  backfill_hash = JSON.parse(file2)
  partitions_hash.merge!(backfill_hash)
end

# match json and slurm partition list
partitions = []
if $slurm_partitions_status.success?
    $slurm_partitions_output.split("\n").each do |queue|
        queue = queue.gsub("*", "")
        if partitions_hash.has_key?(queue)
            partitions.push(queue)
        end
    end
else
    partition_error = "Slurm Partition Query Error!"
    puts partition_error
end
-%>
---
form:
  - custom_queue
  - bc_num_hours
  - bc_num_slots
  - num_cpus
  - num_mem
  - num_gpus
  - node_selection
  - node_list
  - node_features_constraint
  - node_features_prefer
  - email

attributes:
  custom_queue:
    value: interactive
    label: Partition
    widget: select
    cacheable: false
    help: |
      - [Partition Documentation](https://hpc.nmsu.edu/discovery/home/partitions/)
    <%- if partition_error || partitions.blank? -%>
      <div class="text-danger">Error while fetching Partition. Please contact support!</div>
    <%- else -%>
    options:
      <%- partitions.each do |q| -%>
      - [
          "<%= q %>", "<%= q %>",
          <%= JSON.generate(partitions_hash[q]) %>
        ]
      <%- end -%>
    <%- end -%>

  bc_num_hours:
    label: Walltime (Hours)
    help: |
      - Number of hours to allocate
      - Exceeding walltime time will automaticaly stop this job.
    cacheable: false
    widget: number_field
    max: 24
    min: 1
    step: 1
    value: 1

  bc_num_slots: 1

  num_cpus:
    label: CPUs (Threads)
    help: Number of CPU threads
    cacheable: false
    widget: number_field
    max: 16
    min: 2
    step: 2
    value: 4

  num_mem:
    label: Memory (GB/Gigabytes)
    help: Total memory is available to all assigned threads!
    cacheable: false
    widget: number_field
    max: 64
    min: 1
    step: 1
    value: 4

  num_gpus:
    label: "GPUs"
    help: "Number of GPU or Cuda devices"
    cacheable: false
    widget: number_field
    max: 2
    min: 0
    step: 1
    value: 0

  node_selection:
    label: Node Selection
    widget: select
    help : Optionally set a node selection submission flag in Slurm. A specific node (Node List), or any node with specific feature flags (Node Features).
    cacheable: false
    options:
      - [
          "Disabled", "disabled",
          data-hide-node-list: true,
          data-hide-node-features-constraint: true,
          data-hide-node-features-prefer: true,
          data-set-node-list: '',
          data-set-node-features-constraint: '',
          data-set-node-features-prefer: ''
        ]
      - [
          "Node List (--nodelist)", "node_list",
          data-hide-node-features-constraint: true,
          data-hide-node-features-prefer: true,
          data-set-node-features-constraint: '',
          data-set-node-features-prefer: ''
        ]
      - [
          "Node Features (--constraint)", "node_features_constraint",
          data-hide-node-list: true,
          data-set-node-list: '',
          data-hide-node-features-prefer: true,
          data-set-node-features-prefer: ''
        ]
      - [
          "Node Features (--prefer)", "node_features_prefer",
          data-hide-node-list: true,
          data-set-node-list: '',
          data-hide-node-features-constraint: true,
          data-set-node-features-constraint: ''
        ]

  node_list:
    label: Node List
    placeholder: discovery-c1
    help: |
      - Optionally enter the [name of a node](https://hpc.nmsu.edu/discovery/home/nodes/#_compute_nodes) to require that specific node run this job.
      - Only specify a single node!
    cacheable: false
    widget: text_field

  node_features_constraint:
    label: Node Features (--constraint)
    placeholder: xeon-gold-5218
    help: |
      - Optionally enter a constraint list to specify required [features](https://hpc.nmsu.edu/discovery/slurm/features/#_feature_tags) to run this job.
    cacheable: false
    widget: text_field

  node_features_prefer:
    label: Node Features (--prefer)
    placeholder: xeon-gold-5218
    help: |
      - Optionally enter a prefer list, for soft constraints, to specify desired [features](https://hpc.nmsu.edu/discovery/slurm/features/#_feature_tags) to run this job.
    cacheable: false
    widget: text_field

  email:
    label: Email Address
    help: |
      Enter your email address if you would like to receive job notifications (start, finished, failed, etc..).  Otherwise, leave the field empty.

      ---------------------------

      <br>
    cacheable: true
    widget: text_field
