<%-
require 'yaml'
backfill = "false"
template_root = File.expand_path(File.join(__dir__, 'shared'))
file_content = File.read(File.join(template_root, 'form.yml.erb'))
erb_content = ''
ERB.new(file_content, trim_mode: '-', eoutvar: 'erb_content').result(binding)
yaml_content = YAML.load(erb_content)
-%>
---
cluster: "discovery"
title: Julia

form:
<%= YAML.dump(yaml_content['form']).gsub("---\n", '').gsub(/^/,"  ") %>

  - working_dir
  - interface
  - sub_type
  - version
  - sif_file

attributes:
<%= YAML.dump(yaml_content['attributes']).gsub("---\n", '').gsub(/^/,"  ") %>

  working_dir:
    label: Working Directory
    help: |
      - Select your project directory
      - The default is your home directory ($HOME) when left empty."
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: dirs
    readonly: true

  interface:
    label: "User Interface"
    help: |
      - Select which user interface you want.
    cacheable: true
    widget: select
    options:
      - [ "Pluto.jl", "pluto"]
      - [ "VSCode (code-server)", "code-server"]
      - [ "Jupyter Lab", "jupyter-lab"]
      - [ "Jupyter Notebook", "jupyter-notebook"]

  sub_type:
    label: Submission Environment
    widget: select
    help : Select desired submission environment.
    cacheable: false
    options:
      - [
          "Module (Basic)", "mod_basic",
          data-hide-sif-file: true
        ]
      - [
          "Container (Basic)", "sif_basic",
          data-hide-version: true
        ]

  version:
    label: Julia Module Version
    help: Select the desired version of the Julia software module to use. These modules can be found with the `module spider julia` command.
    cacheable: false
    widget: select
    options:
      - [ "1.11.2-SIF", "custom/2024a julia/1.11.2-SIF"]
      - [ "1.10.7-SIF", "custom/2024a julia/1.10.7-SIF"]
      - [ "1.10.0-SIF", "custom/2024a julia/1.10.0-SIF"]
      - [ "1.9.2-SIF", "custom/2023a julia/1.9.2-SIF"]
      - [ "1.8.5-SIF", "custom/2023a julia/1.8.5-SIF"]
      - [ "1.6.7-SIF", "custom/2023a julia/1.6.7-SIF"]

  sif_file:
    label: Container File
    help: |
      - Select an Apptainer/Singularity Container (.sif/.simg) that includes Julia and your chosen user interface.
      - **This is required when using a Container Submission Environment!**
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: files
    data-target-file-pattern: '(.simg|.sif)$'
    readonly: true
