<%-
require 'yaml'
backfill = "true"
template_root = File.expand_path(File.join(__dir__, 'shared'))
file_content = File.read(File.join(template_root, 'form.yml.erb'))
erb_content = ''
ERB.new(file_content, trim_mode: '-', eoutvar: 'erb_content').result(binding)
yaml_content = YAML.load(erb_content)
-%>
---
cluster: "discovery"
title: MatLab (Xfce)

form:
<%= YAML.dump(yaml_content['form']).gsub("---\n", '').gsub(/^/,"  ") %>

  - desktop
  - bc_vnc_resolution
  - bc_vnc_idle

  - working_dir
  - sub_type
  - version
  - sif_file
  - matlab_command
  - env_setup_script

attributes:
<%= YAML.dump(yaml_content['attributes']).gsub("---\n", '').gsub(/^/,"  ") %>

  desktop: "xfce"

  bc_vnc_resolution:
    required: true

  bc_vnc_idle: 0

  working_dir:
    label: Working Directory
    help: |
      - Select your MatLab project directory
      - The default is your home directory ($HOME) when left empty."
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: dirs
    readonly: true

  sub_type:
    label: Submission Environment
    widget: select
    help : Select desired submission environment.
    cacheable: false
    options:
      - [
          "Module (Basic)", "mod_basic",
          data-hide-matlab-command: true,
          data-hide-env-setup-script: true,
          data-hide-sif-file: true,
          data-set-matlab-command: '',
          data-set-env-setup-script: ''
        ]
      - [
          "Module (Advanced)", "mod_adv",
          data-hide-sif-file: true
        ]
      - [
          "Container (Basic)", "sif_basic",
          data-hide-version: true,
          data-hide-matlab-command: true,
          data-hide-env-setup-script: true,
          data-set-matlab-command: '',
          data-set-env-setup-script: ''
        ]
      - [
          "Container (Advanced)", "sif_adv",
          data-hide-version: true,
        ]

  version:
    label: MATLAB Module Version
    help: Select the desired version of the `matlab` module to use. These modules can be found with the `module spider matlab` command.
    cacheable: false
    widget: select
    options:
      - [ "2024a-Proxy-Cuda-VSCode-Jupyter-SIF", "custom/2024a matlab/2024a-Proxy-Cuda-VSCode-Jupyter-SIF" ]
      - [ "2023a-Proxy-Cuda-VSCode-Jupyter-SIF", "custom/2023a matlab/2023a-Proxy-Cuda-VSCode-Jupyter-SIF" ]
      - [ "2022b-Proxy-Cuda-VSCode-Jupyter-SIF", "custom/2023a matlab/2022b-Proxy-Cuda-VSCode-Jupyter-SIF" ]
      - [ "2022a", "custom/2022a matlab/2022a" ]
      - [ "2021a", "custom/2022a matlab/2021a" ]
      - [ "2020a", "custom/2022a matlab/2020a" ]
      - [ "2018a", "custom/2022a matlab/2018a" ]
      - [ "2017b", "custom/2022a matlab/2017b" ]

  sif_file:
    label: Container File
    help: |
      Select an Apptainer/Singularity Container (.sif/.simg) that includes MatLab. **This is required when using a Container Submission Environment!**
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: files
    data-target-file-pattern: '(.simg|.sif)$'
    readonly: true

  matlab_command:
    label: MatLab Command
    help: |
      Optionally run a user defined command in the MatLab console at startup.

      - Syntax is MatLab Console
      - To call a .m script such as example.m give the file name without .m
    cacheable: false
    widget: text_field
    placeholder: example;exit
    required: false

  env_setup_script:
    label: Environment Setup Script
    help: |
      Optionally select a shell (.sh/.bash) script to source before matlab is run.
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: files
    data-target-file-pattern: '(.sh|.bash)$'
    readonly: true
