<%-
require 'yaml'
template_root = File.expand_path(File.join(__dir__, 'shared'))
file_content = File.read(File.join(template_root, 'submit.yml.erb'))
erb_content = ''
ERB.new(file_content, trim_mode: '-', eoutvar: 'erb_content').result(binding)
yaml_content = YAML.load(erb_content)
-%>
---
batch_connect:
  template: vnc

script:
  queue_name: <%= yaml_content['script']['queue_name'] %>
  native:
<%= YAML.dump(yaml_content['script']['native']).gsub("---\n", '').gsub(/^/, "    ") %>

    - "--hint"
    - "nomultithread"
