<%-
require 'yaml'
backfill = "false"
template_root = File.expand_path(File.join(__dir__, 'shared'))
file_content = File.read(File.join(template_root, 'form.yml.erb'))
erb_content = ''
ERB.new(file_content, trim_mode: '-', eoutvar: 'erb_content').result(binding)
yaml_content = YAML.load(erb_content)
-%>
---
cluster: "discovery"
title: Desktop (Xfce)

form:
<%= YAML.dump(yaml_content['form']).gsub("---\n", '').gsub(/^/,"  ") %>

  - desktop
  - bc_vnc_resolution
  - bc_vnc_idle
  - sub_type
  - sif_file

attributes:
<%= YAML.dump(yaml_content['attributes']).gsub("---\n", '').gsub(/^/,"  ") %>

  desktop: "xfce"

  bc_vnc_resolution:
    required: true

  bc_vnc_idle: 0

  sub_type:
    label: Submission Environment
    widget: select
    help : Select desired submission environment.
    cacheable: false
    options:
      - [
          "Host", "vnc",
          data-hide-sif-file: true
        ]
      - [
          "Container (Basic)", "vnc_container"
        ]

  sif_file:
    label: Container File
    help: |
      Select an Apptainer/Singularity Container (.sif/.simg). **This is required when using a Container Submission Environment!**
    cacheable: false
    data-filepicker: true
    data-file_picker_favorites:
      '[
        {"title": "Home Directory", "href": "<%= CurrentUser.home %>"},
        {"title": "Scratch", "href": "/fs1/scratch/<%= CurrentUser.name %>"},
        {"title": "Projects", "href": "/fs1/project"}
      ]'
    data-target-file-type: files
    data-target-file-pattern: '(.simg|.sif)$'
    readonly: true
