<%-
require 'yaml'
template_root = File.expand_path(File.join(__dir__, 'shared'))
file_content = File.read(File.join(template_root, 'submit.yml.erb'))
erb_content = ''
ERB.new(file_content, trim_mode: '-', eoutvar: 'erb_content').result(binding)
yaml_content = YAML.load(erb_content)
-%>
---

<% if sub_type.to_s == "vnc" %>
batch_connect:
  template: vnc
<% elsif sub_type.to_s == "vnc_container" %>
batch_connect:
  template: "vnc"
  websockify_cmd: '/usr/bin/websockify'
  header: |
    #!/bin/bash
    . ~/.bashrc
  script_wrapper: |
    cat << "CTRSCRIPT" > container.sh
    export PATH="$PATH:/opt/TurboVNC/bin"
    %s
    CTRSCRIPT

    export APPTAINER_BIND="/tmp"

    apptainer exec <%= sif_file.to_s %> /bin/bash container.sh
<% end %>

script:
  queue_name: <%= yaml_content['script']['queue_name'] %>
  native:
<%= YAML.dump(yaml_content['script']['native']).gsub("---\n", '').gsub(/^/, "    ") %>
